<div class="d-inline-flex p-2">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= frequency_register.date_field %></h5>
      <ul class="list-group" id="student_registered">
        <li class="list-group-item active">Alunos presentes</li>
        <%= render frequency_register.registers %>
      </ul>
      <p>
          <%= 
              button_to 'Excluir este registro de frequência',
              [frequency_register.school_class, frequency_register],
              method: :delete,
              :onclick => "return confirm('Você tem certeza que deseja excluir este registro de frequência?')",
              class: "btn btn-danger"
          %>
      </p>
    </div>
  </div>
</div>