<h1>New frequency register</h1>

<%= render "form", frequency_register: @frequency_register, students_id: @students_id %>

<div id="students_registered">
  <p><strong>Estudantes detectados:</strong></p>
  <% @students_registered.each do |student| %>
    <p>
      <%= link_to student.name, student %>
    </p>
  <% end %>
</div> 

<br>

<div>
  <%= link_to "Back to school classes", school_classes_path %>
</div>