<h1>New frequency register</h1>

<%= render "form", frequency_register: @frequency_register %>

<div id="students_registered">
  <% @studentsRegistered.each do |student| %>
    <p><strong>Estudantes registrados:</strong></p>
    <p>
      <%= link_to student.name, student %>
    </p>
  <% end %>
</div> 

<br>

<div>
  <%= link_to "Back to school classes", school_classes_path %>
</div>