<div class="main">
  <h1>Novo registro de frequência</h1>

  <%= render "form", frequency_register: @frequency_register, students_id: @students_id %>
  <div>
    <%= link_to "Voltar para turmas", school_classes_path, class: "btn btn-outline-primary" %>
  </div>
  <br>
  <div id="students_registered" class="students">
    <ul class="list-group">
      <li class="list-group-item active">Alunos detectados</li>
      <% @students_registered.each do | student | %>
        <li class="list-group-item"><%= link_to student.name, student_path(student) %></li>
      <% end %>
    </ul>
  </div> 
</div>