<header class="color">
    <nav class="navbar navbar-expand-lg navbar-light bg-light color">
        <div class="container-fluid">
            <%= link_to "Sistema De Frequência", root_path, class: "titulo" %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="body">
    <aside class="white-color">
        <nav>
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <%= link_to "Turmas", school_classes_path, class: "nav-link", aria_current: "page"%>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <%= link_to "Alunos", students_path, class: "nav-link" %>
                </li>    
                <li class="nav-item">
                    <i class="fa-solid fa-person"></i>
                    <%= link_to "Responsáveis", responsibles_path, class: "nav-link" %>
                </li>
            </ul>
        </nav>
    </aside>