<div class="card main">
  <div class="card-body">
    <div class="text-center">
        <p class="display-6"><strong>Boas Vindas ao Sistema De Frequência!</strong></p>
        <p class="display-7 text-muted">Registros de frequência dos discentes por reconhecimento facial.</p>
        <br>
    </div>
  </div>
</div>
<br>
