<h1>Editando responsável</h1>

<%= render "form", responsible: @responsible %>

<br>

<div>
  <%= link_to "Mostrar este responsável", @responsible %> |
  <%= link_to "Voltar para responsáveis", responsibles_path %>
</div>
