<h1>Editing responsible</h1>

<%= render "form", responsible: @responsible %>

<br>

<div>
  <%= link_to "Show this responsible", @responsible %> |
  <%= link_to "Back to responsibles", responsibles_path %>
</div>
