<div class="main">  
  <h1>Editando turma</h1>

  <%= render "form", school_class: @school_class %>

  <br>

  <div>
    <%= link_to "Mostrar esta turma", @school_class %> |
    <%= link_to "Voltar para turmas", school_classes_path %>
  </div>
</div>